footer
      .info
        h4 Phone
        span 9405814464
      .info
        h4 Email
        span pratikshinde7262@gmalil.com
      .info
        h4 Follow Me
        a(href='https://www.linkedin.com/in/pratik-shinde-156993213')
          img(src='./static/li.svg', alt='LI')
        a(href='https://www.youtube.com/channel/UCRaj3KHYyN4MghIuujFMVEQ')
          img(src='./static/yt.svg', alt='YT')
      .copy
        h4 &copy; 2022 By Pratik Shinde