footer
      .info
        h4 Phone
        span 9405814464
      .info
        h4 Email
        span pratikshinde7262@gmalil.com
      .info
        h4 Follow Me
        a(href='https://www.linkedin.com/in/pratik-shinde-156993213' target="_blank")
          img(src='./static/li.svg', alt='LI')
        a(href='https://github.com/pratik7262' target="_blank")
          img(src='./static/github.svg', alt='GitHub Icon')
      .copy
        h4 &copy; 2022 By Pratik Shinde