doctype html
html(lang='en')
  head
    include links 
    link(rel='stylesheet', href='./static/css/index.css')
  body#body(onload='trans()')
    #loader
      img#loaderSvg(src='./static/loader.svg', alt='')
    include navBar
    .container
      #photo
        img#img(src='./static/Pratik.png ', alt='myImg')
      #text
        h2 Hello
        h3 A Bit About Me
        p
          | I am a Coder, Programmer and Developer having well knowledge and Command on HTML CSS JS and JAVA Learning Node.js. Looking for my first Internship, where I can learn and grow.
    hr
    include footer
    script(src='./static/script.js')