nav#nav.navBar
      .top
        .logo
          h1
            a#main.menuItems(href='/') Pratik Shinde
          p Web Developer
        div
          img#ham(src='./static/ham.png', alt='')
          ul.menu
            li
              a.menuItems(href='/resume') Resume
            | |
            li
              a.menuItems(href='/project') Projects
            | |
            li
              a.menuItems(href='/contact') Contact
      .bottom
        ul.bMenu
          li
            a.menuItems(href='/resume') Resume
          li
            a.menuItems(href='/project') Projects
          li
            a.menuItems(href='/contact') Contact